body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;
}

h1 {
  color: red;
  margin: 0 0 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center; 
  min-width: 200px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  outline: 2px solid lightskyblue
}

.form-group {
  margin-bottom: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
  }